h1{
    font-family:BodyFont;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
}
h2{
    font-family:BodyFont;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;

}
h3{
    font-family:BodyFont;
    letter-spacing: 2px;
    display: flex;
}
p{
    font-family:BodyFont;
    letter-spacing: 2px;
    display: flex;
}

@font-face {
    font-family: HeaderFont;
    src: url("/VintageVelocity/fonts/Antonio-Regular.ttf");
}

@font-face {
    font-family: BodyFont;
    src: url("/VintageVelocity/fonts/Poppins-Regular.ttf");
}

.menuP{
    margin: 20px;
    font-family: BodyFont;
    padding: 10px;
}

.menuP:hover{
    background-color: #f2f2f2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.memberDiv{
    border-style: dashed; 
    border-radius: 10px; 
    padding: 10px;
    align-items: center;
    justify-content: center;
    margin: 25px;
    text-align: center;
    width: fit-content;
}